<!DOCTYPE html>
<html  lang="eng">
<head>
<meta charset="UTF-8">
<title>Login Form</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body style="background-image: url({{url_for('static',filename='images/tree.jpg')}});">
	<div class="form-area">
		<div class ="img-area">
			<img src="{{url_for('static',filename='images/avtar.png')}}" alt="">
			
		
		</div>
	
	<h2>Login Form</h2>
	<p>Your Name</p>
	<input type="text">
	<p>email id</p>
	<input type="email">
	
		
		<a href="#" class="btn">
			<span class="btn-text">Sign In</span>
			<span class="btn-text">Log In</span>
		</a>
		
		<a href="#" class="for-pass">Forgot Password?</a>
	</div>
</body>








</html>